
body {
    font-family: sans-serif;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: auto;
}
.logo {
    width: 80px;
    margin-top: 20px;
}
form {
    margin-top: 20px;
}
.rider, .resort {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
button {
    margin-top: 10px;
}
